---
---

@import "{{ site.theme }}";

// ::before psuedo-element
.single-before {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem;

  li {
    padding-left: 1rem;
    text-indent: -0.7rem;
    list-style-image: none;
  }

  li::before {
    content: "📝 ";
  }
}
